@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body {
    padding-top: 57px;
    background: rgb(238, 238, 238);
}

::selection {
    color: white;
    background: rgb(178, 25, 197);
}

.hidden {
    display: none;
}

a:hover,
a:focus {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

h1, 
h2, 
h3,
h4, 
h5, 
h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    line-height: 25px;
    color: rgb(93, 67, 132);
}

a {
    color: rgb(93, 67, 132);
}

a:hover,
a:focus {
    color: rgb(93, 67, 132);
    text-decoration: underline;
}

ul {
    list-style: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: whitesmoke url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

.btn-default, 
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
    color: #bbb;
    text-transform: uppercase;
    border: 1px solid #eee;
    background: #fff;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default {
    border-color: #ddd;
}

.pagination .page-item .page-link {
    color: rgb(93, 67, 132);
}

.pagination .page-item.active .page-link {
    color: #fff;
    background: rgb(93, 67, 132);
    border-color: rgb(93, 67, 132);
}

[role="banner"] {
    padding: 0;
    position: relative;
    background: transparent url("../images/header.jpg") no-repeat center top;
    background-size: 100% 100%;
    height: 250px;
}

@media (min-width: 750px) {
    [role="banner"] {
        height: 350px;
    }
}

[role="banner"] > h1,
[role="banner"] > h2 {
    margin: 0 auto;
    line-height: 1.5;
    color: white;
    text-shadow: 2px 2px rgb(178, 25, 197);
    text-transform: none;
    width: 95%;
}

[role="banner"] > h1 {
    padding-top: 1em;
    font-weight: 900;
    line-height: 1.5;
    font-size: 2.4em;
}

[role="banner"] > h2 {
    font-size: 2.5em;
}

@media (min-width: 650px) {
    [role="banner"] > h1 {
        font-size: 4.8vw;
    }
}

.navbar {
    color: rgb(93, 67, 132);
    box-shadow: 0 4px 2px -2px rgb(93, 67, 132);
}

.navbar .navbar-nav .nav-link,
.dropdown-item {
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.dropdown-item:hover,
.dropdown-item:focus {
    color: rgb(93, 67, 132);
}

    /*
.navbar-shrink {
    padding: 0;
}

.navbar .navbar-header .navbar-brand {
    padding: 0;
    color: rgb(93, 67, 132);
}

.navbar .navbar-header .navbar-brand:hover,
.navbar .navbar-header .navbar-brand:focus {
    text-decoration: underline;
}

.navbar .nav li a {
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
}

.navbar .nav li a:hover,
.navbar .nav li a:focus {
    color: rgb(93, 67, 132);
}

.navbar .navbar-nav > .open > a, 
.navbar .navbar-nav > .open > a:focus, 
.navbar .navbar-nav > .open > a:hover {
    color: rgb(93, 67, 132);
    background: white;
}*/

[role="main"] {
    margin-top: 2.5em;
}

[role="main"] article > ul {
    list-style: square;
}

[role="main"] .post-container,
[role="main"] .widget {
    position: relative;
    overflow: hidden;
    background: white;
}

[role="main"] .post-container {
    margin-bottom: 2.5em;
    padding: 2.5em 2em;
}

[role="main"] .widget {
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
}

.widget h3 {
    position: relative;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

.widget h3 span {
    display: inline-block;
    position: relative;
    bottom: -1px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(93, 67, 132);
}

.widget > ul {
    padding-left: 0;
}

[role="main"] .widget ul li {
    font-weight: 700;
    text-transform: uppercase;
}

[role="main"] .widget:before,
[role="main"] .post-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 40;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: rgb(255,255,255) rgb(238,238,238) rgb(255,255,255) rgb(255,255,255);
    background: rgb(101,142,21);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.08), -1px 1px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.08), -1px 1px 1px rgba(0,0,0,0.08);
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), -1px 1px 1px rgba(0,0,0,0.08);
    display: block;
    width: 0;
}

[role="main"] .widget ul li .fa {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
}

[role="main"] .post-container .post-meta {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

[role="main"] .post-container .post-meta li, 
[role="main"] .post-container .post-meta li a {
    color: #bbb;
}

[role="main"] .post-container .post-meta li {
    margin-right: 12px;
    display: inline-block;
}

[role="main"] .post-container .post-content {
    margin-top: 30px;
    line-height: 25px;
}

[role="main"] .post-container .post-comments {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f4f4f4;
}

[role="main"] .post-container .post-comments h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

[role="main"] .post-container .post-comments ul {
    margin-bottom: 5px;
    color: #888;
    font-size: 13px;
}

[role="main"] .post-container .post-comments .comments-list {
    padding: 0;
}

[role="main"] .post-container .post-comments .comments-list .comment {
    margin: 20px 0 30px;
    position: relative;
    list-style: none;
}

[role="main"] .post-container .post-comments .comments-list .comment .comment-meta {
    margin-bottom: 5px;
    color: #888;
    font-size: 13px;
}

[role="main"] .post-container .post-comments .comments-list .comment-author {
    font-size: 14px;
    color: rgb(93, 67, 132);
}

[role="main"] .post-container .post-read-more {
    margin-top: 1.5em;
}

#new-comment {
    border-top: 1px solid #eee;
}

/*
[role="contentinfo"] {
    padding: 2em 0;
    background: #fff;
    font-size: 12px;
    border-top: 1px solid #e7e7e7;
}

[role="contentinfo"] .social-network {
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

[role="contentinfo"] .social-network li {
    line-height: 1.5;
    display: inline-block;
    padding: 1em;
}

[role="contentinfo"] .social-network li [rel="me"] > .fa {
    opacity: 0.6;
    width: 55px;
    height: 55px;
    font-size: 55px;
    color: rgb(41, 43, 44);
    text-align: center;
}

[role="contentinfo"] .social-network li [rel="me"]:hover > .fa,
[role="contentinfo"] .social-network li [rel="me"]:focus > .fa {
    opacity: 0.8;
}
    */

[role="contentinfo"] {
    padding-top: 1em;
    background: rgb(41, 43, 44);
    color: #777;
}

[role="contentinfo"] .copyright {
    line-height: 22px;
    margin-top: 3px;
}

[role="contentinfo"] .social {
    padding: 0;
}

[role="contentinfo"] .social li {
    display: inline-block;
    padding: 0 0.5em;
}

[role="contentinfo"] .social li [rel="me"] > .fa {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #777;
}

[role="contentinfo"] .social li [rel="me"] > .fa:hover,
[role="contentinfo"] .social li [rel="me"] > .fa:focus {
    color: rgb(93, 67, 132);
}

.administration {
    
}