body {
    padding-top: 1em;
}

img {
    max-width: 100%;
}

.social-links a {
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: none;
}
.social-links img {
    width: 65px;
    height: 65px;
    max-width: 100%;
    height: auto;
    padding: 1em;
}