@model int

@using BlogSystem.Web.ViewModels.Comment

@{
    const string CommentsPartialViewsFolder = "~/Views/Comments/{0}.cshtml";
}

<section id="comments">
    @{
        Html.RenderAction("All", "Comments", new RouteValueDictionary
        {
            { "id", Model }
        });
    }
</section>

<hr />

<section id="new-comment">
    @Html.Partial(string.Format(CommentsPartialViewsFolder, "_CreateComment"), new CommentViewModel())
</section>