@model IEnumerable<BlogSystem.Web.ViewModels.Comment.CommentViewModel>

<h3>Comments</h3>

@foreach (var comment in Model)
{
    <div class="media">
        <div class="media-body">
            <div class="bottom-article">
                <ul class="meta-post">
                    <li>
                        <span class="fa fa-calendar" aria-hidden="true"></span>
                        @Html.DisplayFor(model => comment.CreatedOn)
                    </li>
                    <li>
                        <span class="fa fa-user" aria-hidden="true"></span>
                        @Html.DisplayFor(model => comment.User)
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.DisplayFor(model => comment.Content)
                </div>
            </div>
        </div>
    </div>
}

<script>
    function hideViewCommentsButton() {
        $('#show-comments-btn').hide();
        $('#new-comment').removeClass('hidden');
    }
</script>
