@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body {
    padding-top: 6.3em;
    background: rgb(238, 238, 238);
}

::selection {
    color: white;
    background: rgb(5, 103, 140);
}

::-moz-selection {
    color: white;
    background: rgb(5, 103, 140);
}

a:hover,
a:focus {
    color: rgb(93, 67, 132);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    color: rgb(5, 103, 140);
}

.btn {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    color: #bbb;
    text-transform: uppercase;
    border: 1px solid #eee;
    background: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    border-color: #ddd;
}

.pagination .page-item .page-link {
    color: rgb(5, 103, 140);
}

.pagination .page-item.active .page-link {
    color: #fff;
    background: rgb(5, 103, 140);
    border-color: rgb(5, 103, 140);
}

[role="banner"] {
    padding: 0;
    position: relative;
    background: transparent url("/images/header.jpg") no-repeat center top;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 250px;
}

@media (min-width: 750px) {
    [role="banner"] {
        height: 350px;
    }
}

[role="banner"] > h1,
[role="banner"] > h2 {
    margin: 0 auto;
    line-height: 1.5;
    color: white;
    text-shadow: 2px 2px rgb(5, 103, 140);
    text-transform: none;
    width: 95%;
}

[role="banner"] > h1 {
    padding-top: 0.5em;
    font-weight: 900;
    font-size: 2.5em;
}

[role="banner"] > h2 {
    font-size: 2.4em;
}

@media (min-width: 650px) {
    [role="banner"] > h1 {
        padding-top: 1.5em;
        font-size: 4.8vw;
    }
}


.navbar .navbar-nav .nav-link,
.dropdown-item {
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
}

/*
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: rgb(5, 103, 140); 
}*/

.navbar .navbar-toggler-icon {
    padding: 2em 1em;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar #registerLink, 
.navbar #loginLink {
    margin: 0.2em;
}

.navbar .navbar-brand img {
    width: 125px;
    height: 85px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-shrink .navbar-toggler-icon {
    padding: 1em;
}

.navbar-shrink .navbar-brand img {
    width: 75px;
    height: 55px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*
[role="main"] {
    margin-top: 2.5em;
}*/

[role="main"] .post-container .post-content ul {
    list-style: square !important;
}

[role="main"] .post-container .post-content table td {
    vertical-align: top !important;
}

[role="main"] .post-container,
[role="main"] .widget {
    position: relative;
    overflow: hidden;
    background: white;
}

[role="main"] .post-container,
[role="main"] .widget {
    margin: 1.5em auto;
    padding: 1.5em 1.5em;
}

/*
[role="main"] .post-container {
    margin-bottom: 2.5em;
    padding: 2.5em 2em;
}

[role="main"] .widget {
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
}
*/

.widget h3 {
    position: relative;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

.widget h3 span {
    display: inline-block;
    position: relative;
    bottom: -1px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(5, 103, 140);
}

.widget > ul {
    padding-left: 0;
}

[role="main"] .widget ul li {
    font-weight: 700;
    font-size: 1.1em;
    margin: 1em auto;
}

[role="main"] .widget ul li .fa {
    width: 20px;
    height: 20px;
    /*font-size: 25px;*/
}

[role="main"] .post-container:before,
[role="main"] .widget:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    z-index: 40;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: rgb(255,255,255) rgb(238,238,238) rgb(255,255,255) rgb(255,255,255);
    background: rgb(101, 142, 21);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.08), -1px 1px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.08), -1px 1px 1px rgba(0,0,0,0.08);
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), -1px 1px 1px rgba(0,0,0,0.08);
   /* width: 0;*/
}

[role="main"] .post-container .post-meta {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

[role="main"] .post-container .post-meta li,
[role="main"] .post-container .post-meta li a {
    color: #bbb;
}

[role="main"] .post-container .post-meta li {
    display: inline-block;
    margin-right: 12px;
}

[role="main"] .post-container .post-content {
    margin-top: 30px;
    line-height: 25px;
}

[role="main"] .post-container .post-comments {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f4f4f4;
}

[role="main"] .post-container .post-comments h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

[role="main"] .post-container .post-comments ul {
    margin-bottom: 5px;
    color: #888;
    font-size: 13px;
}

[role="main"] .post-container .post-comments .comments-list {
    padding: 0;
}

[role="main"] .post-container .post-comments .comments-list .comment {
    margin: 20px 0 30px;
    position: relative;
    list-style: none;
}

[role="main"] .post-container .post-comments .comments-list .comment .comment-meta {
    margin-bottom: 5px;
    color: #888;
    font-size: 13px;
}

[role="main"] .post-container .post-comments .comments-list .comment-author {
    font-size: 14px;
    color: rgb(93, 67, 132);
}

[role="main"] .post-container .post-read-more {
    margin-top: 1.5em;
}

#new-comment {
    border-top: 1px solid #eee;
}

[role="contentinfo"] {
    padding-top: 1em;
    background: rgb(41, 43, 44);
    color: #777;
}

[role="contentinfo"] .copyright {
    line-height: 25px;
    margin-top: 0.5em;
}

[role="contentinfo"] .social {
    padding: 0;
}

[role="contentinfo"] .social li {
    display: inline-block;
    padding: 0 0.5em;
}

[role="contentinfo"] .social li [rel="me"] > .fa {
    width: 35px;
    height: 35px;
    font-size: 35px;
    color: #777;
}

[role="contentinfo"] .social li [rel="me"] > .fa:hover,
[role="contentinfo"] .social li [rel="me"] > .fa:focus {
    color: rgb(5, 103, 140);
}

[role="contentinfo"] .info {
    background: rgb(37, 37, 37);
    text-align: center;
    padding: 1em;
}

[role="contentinfo"] .info p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

.administration {
    background: none;
    padding-top: 57px;
}

.administration header {
    margin-bottom: 5em;
}

.administration h1,
.administration h2,
.administration h3,
.administration h4,
.administration h5,
.administration h6 {
    text-transform: none;
    color: rgb(41, 43, 44);
}

.administration .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.administration .sidebar .nav {
    margin-bottom: 20px;
}

.administration .sidebar .nav-item {
    width: 100%;
}

.administration .sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.administration .sidebar .nav-link {
    border-radius: 0;
}