@using Microsoft.AspNet.Identity

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" role="navigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    @Html.ActionLink("Administration", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })
    
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, new { @class = "nav-link" })
            </li>
        </ul>

        @using (Html.BeginForm("LogOff", "Account", new { area = string.Empty}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    @Html.ActionLink($"Hello {User.Identity.GetUserName()}!", "Index", "Manage", new { area = string.Empty }, new { @class = "nav-link", title = "Manage" })
                </li>
                <li class="nav-item">
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
                </li>
            </ul>
        }
    </div>
</nav>