<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="navbar-brand">
                    @ViewBag.Settings["Title"]
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @{
                        Html.RenderAction("Menu", "Nav");
                    }
                    
                    <li class="dropdown">
                        @{
                            Html.RenderAction("AdminMenu", "Nav");
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>