@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul>
            <li>
                @Html.ActionLink($"Hello {User.Identity.GetUserName()}!", "Index", "Manage", new { area = string.Empty }, new { title = "Manage" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul>
        <li>
            @Html.ActionLink("Register", "Register", "Account", new { area = string.Empty }, new { id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink("Log in", "Login", "Account", new { area = string.Empty }, new { id = "loginLink" })
        </li>
    </ul>
}