@model IEnumerable<BlogSystem.Web.Areas.Administration.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "All Categories";
}

<header>
    <h2 class="float-left">@ViewBag.Title</h2>

    <a href="@Url.Action("Create", "Categories", new { area = "Administration" })" class="btn btn-success float-right">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Create New Category
    </a>
</header>

@if (Model.Any())
{
    <div class="card">
        <ul class="list-group list-group-flush">
            @foreach (var category in Model)
            {
                <li class="list-group-item">
                    @Html.DisplayFor(model => category.Name)
                </li>
            }
        </ul>
    </div>
}