<footer>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>&copy; 2012 - @DateTime.Now.Year Ivan Ivanov. All right reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li>
                            <a href="#" data-placement="top" title="Facebook">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-placement="top" title="Twitter">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-placement="top" title="LinkedIn">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-placement="top" title="GitHub">
                                <span class="fa fa-github"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>