@using BlogSystem.Common


<!-- start header -->
<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="navbar-brand">
                    <img src="~/images/logo.png" class="img-responsive" width="40" height="40" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @{
                        Html.RenderAction("Menu", "Nav");
                    }

                    @if (User.IsInRole(GlobalConstants.AdminRoleName))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "Administration" })">
                                <span class="glyphicon glyphicon-user"></span>
                                Administration
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- end header -->


<!--HEADER-->

<!--END HEADER-->

@*
    <nav class="navbar navbar-default navbar-static-top navbar-light bg-faded">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse navbar-toggleable-md" id="navbarResponsive">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
*@