@model IEnumerable<BlogSystem.Web.ViewModels.Common.MenuItemViewModel>

<ul class="navbar-nav mr-auto">
    <li class="nav-item home">
        @Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, new { @class = "nav-link" })
    </li>

    @foreach (var page in Model)
    {
        <li class="nav-item">
            @Html.ActionLink(page.Title, page.Permalink, "Pages", new { area = string.Empty }, new { @class = "nav-link" })
        </li>
    }
</ul>