<!-- start header -->
<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", new { area = "Administration" })" class="navbar-brand">
                    Administration
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home", new { area = string.Empty })">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Settings", new {area = "Administration"})">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- end header -->