@model BlogSystem.Web.ViewModels.Comment.CommentViewModel

<h3>Leave a Comment</h3>

@if (User.Identity.IsAuthenticated)
{

}
else
{
    <p>Only registered users can comment.</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}