@model BlogSystem.Web.ViewModels.Sidebar.SidebarViewModel

@if (Model.RecentPosts.Any())
{
    <div class="widget">
        <h3 class="widgettitle">Recent Posts</h3>
        <ul>
            @foreach (var post in Model.RecentPosts)
            {
                <li>
                    @Html.RouteLink(post.Title, "Post", new { id = post.Id })
                </li>
            }
        </ul>
    </div>
}

@if (Model.Pages.Any())
{
    <div class="widget">
        <h3 class="widgettitle">Pages</h3>
        <ul>
            @foreach (var page in Model.Pages)
            {
                <li>
                    @Html.RouteLink(page.Title, "Page", new { permalink = page.Permalink })
                </li>
            }
        </ul>
    </div>
}

<div class="widget">
    <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A11184122126%3Aplaylist%3A4PVXpMtbqsumofoOEOL7Pj"
            width="300"
            height="500"
            frameborder="0"
            allowtransparency="true"></iframe>
</div>