@model BlogSystem.Web.ViewModels.Sidebar.SidebarViewModel

<section class="panel panel-primary">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-pushpin"></span>
        Latest Posts
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var post in Model.RecentPosts)
            {
                <li class="list-group-item">
                    <a href="~/Blog/Post/@post.Id">@post.Title</a>
                </li>
            }
        </ul>
    </div>
</section>

<section class="panel panel-primary">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-pushpin"></span>
        Social Links
    </div>
    <div class="panel-body social-links">
        <a href="#">
            <img src="~/Content/Images/Social/twitter-logo-silhouette.svg" alt="Twitter" />
        </a>

        <a href="#">
            <img src="~/Content/Images/Social/facebook-logo.svg" alt="Facebook" />
        </a>

        <a href="#">
            <img src="~/Content/Images/Social/github-logo.svg" alt="GitHub" />
        </a>

        <a href="#">
            <img src="~/Content/Images/Social/linkedin-logo.svg" alt="LinkedIn" />
        </a>
    </div>
</section>