@using BlogSystem.Common

@model BlogSystem.Web.ViewModels.Page.PageViewModel
    
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <h2 class="pull-left blog-gray-info blog-word-wrap">@Model.Title</h2>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <ul class="list-unstyled list-inline blog-info">
            <li>
                <span class="glyphicon glyphicon-calendar"></span>
                @Model.CreatedOn.ToString("MMMM dd, yyyy, HH:mm:ss tt")
            </li>
            <li>
                <span class="glyphicon glyphicon-pencil"></span>
                @Model.Author
            </li>
        </ul>
        <hr/>
    </div>
    <div class="col-md-12">
        <div class="blog-word-wrap">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>