@model BlogSystem.Web.ViewModels.Page.PageViewModel
    
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <!--sidebar-->
        </div>
        <div class="col-lg-8">
            <H1>@Model.Title</H1>
            
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>