@using BlogSystem.Common

@model BlogSystem.Web.ViewModels.Page.PageViewModel
    
@{
    ViewBag.Title = Model.Title;
}

@Html.Raw(Model.Content)

@if (User.IsInRole(GlobalConstants.AdminRoleName))
{
    <span class="fa fa-pencil"></span> 
    <a href="~/Administration/Pages/Edit/@Model.Id">Edit</a>
}