@model IEnumerable<string>

@using BlogSystem.Common

@if (User.IsInRole(GlobalConstants.AdminRoleName))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            Administration 
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("Index", item, new { area = "Administration" })">@item</a>
                </li>
            }
        </ul>
    </li>
}