@model IEnumerable<string>

@using BlogSystem.Common

<ul class="navbar-nav navbar-right">
    @if (User.IsInRole(GlobalConstants.AdminRoleName))
    {
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach (var item in Model)
                    {
                        @Html.ActionLink(item, "Index", item, new { area = "Administration" }, new { @class = "dropdown-item" })
                    }
                </div>
            </div>
        </li>
    }
</ul>