@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                @Html.ActionLink($"Hello {User.Identity.GetUserName()}!", "Index", "Manage", new { area = string.Empty }, new { @class = "nav-link", title = "Manage" })
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @Html.ActionLink("Register", "Register", "Account", new { area = string.Empty }, new { @class = "nav-link", id = "registerLink"})
        </li>
        <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Account", new { area = string.Empty }, new { @class = "nav-link", id = "loginLink" })
        </li>
    </ul>
}
