@model BlogSystem.Web.ViewModels.Posts.PostsByCategoryViewModel

@{
    ViewBag.Title = $"Posts By {Model.Name} Category";
}

<article class="post-container">
    <header class="post-header">
        <h2 class="post-title">@Model.Name</h2>
        <hr />
    </header>
    <div class="post-content">
        @if (Model.Posts.Any())
        {
            foreach (var post in Model.Posts)
            {
                <a href="@post.Url">@post.Title</a>
            }
        }
        else
        {
            <h3>Sorry, nothing here...</h3>
        }
    </div>
</article>