@model BlogSystem.Web.ViewModels.Manage.UserAvatarViewModel

@{
    ViewBag.Title = "Add Avatar";
}

<section class="post-container">
    <div class="post-content">
        <h2>Add avatar to user profile</h2>

        @using (Html.BeginForm("AddAvatar", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Avatar, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    <input type="file" name="Avatar" class="form-control" />
                </div>
            </div>

            <button type="submit" class="btn btn-success">Add Avatar</button>
        }
    </div>
</section>