@using Microsoft.AspNet.Identity

@model BlogSystem.Web.ViewModels.Manage.IndexViewModel

@{
    ViewBag.Title = "Manage Account";
}

<section class="post-container">
    <div class="post-content">
        <h2>@ViewBag.Title</h2>
        <div class="alert alert-success" role="alert">
            You're logged in as <strong>@User.Identity.GetUserName()</strong>
        </div>

        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change password", "ChangePassword", new { area = string.Empty }, new { @class = "btn btn-warning" })
        }
        else
        { 
            @Html.ActionLink("Create", "SetPassword")
        }
    </div>
</section>