@model BlogSystem.Web.ViewModels.Page.PageViewModel

@{
    ViewBag.Title = Model.Title;
}

<article class="post-container">
    <header class="post-header">
        <h2 class="post-title">@Model.Title</h2>
        <ul class="post-meta">
            <li>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                @Html.DisplayFor(model => Model.CreatedOn)
            </li>
            <li>
                <i class="fa fa-user" aria-hidden="true"></i>
                @Html.DisplayFor(model => Model.Author)
            </li>
        </ul>
    </header>
    <div class="post-content">
        @Html.DisplayFor(model => Model.Content)
    </div>
</article>