@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>
<hr />

@*
<div class="card card-inverse card-primary mb-3 text-center">
    <div class="card-block">
        <blockquote class="card-blockquote">
            <h3>Your IP: @ViewBag.IpAddress</h3>
        </blockquote>
    </div>
</div>
*@